@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");
h1, h2, h3 {
  font-family: "Red Hat Display", sans-serif !important;
}

h5, h6, p {
  font-family: "Open Sans", sans-serif !important;
}

a.main-button {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: #f4813f;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #f1556a;
}

section {
  padding: 6.5em 0;
}

.logo-image {
  width: 95px;
  margin-top: 0px;
}

#mainNav {
  background-color: rgba(244, 166, 145, 0.95);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #d14620;
}

#mainNav .navbar-brand {
  color: #fafafa;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 100%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #0B0500;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #3b3632;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #3b3632;
}

#mainNav .bar-image {
  width: 155px;
  margin-top: 0px;
}

.navbar {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.hero {
  height: 80vh;
  min-height: 500px;
  background-image: url("/img/hero_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero h2 {
  font-weight: 700;
  font-size: 4.8em;
  line-height: 1.2em;
}

.hero .home-lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/* Animacion hero img*/
@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
  100% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
  100% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
  }
}

/*
---------------------------------------------
Left image decor
---------------------------------------------
*/
.left-image-decor {
  background-image: url(../img/left-bg-decor.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

/*
---------------------------------------------
Left image decor
---------------------------------------------
*/
.right-image-decor {
  background-image: url(../img/right-bg-decor.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

/*
---------------------------------------------
about
---------------------------------------------
*/
#ventajas {
  padding: 100px 0px;
  position: relative;
  z-index: 9;
}

@media (max-width: 992px) {
  .features-item {
    margin-bottom: 45px;
  }
}

.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.features-item .main-button {
  margin-top: 35px;
  display: inline-block;
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.features-item h2 {
  z-index: 9;
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 100px;
  font-weight: 600;
  color: #fdefe9;
}

.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

footer {
  margin-top: 200px;
  padding-top: 120px;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

footer .footer-content {
  padding: 120px 0px;
}

/** Media Queries **/
/* Esta es para el efecto del menú transparente*/
@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav .navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav .navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 90vh;
  }
  .hero h2 {
    padding: .8em .3em .2em;
    font-size: 3.2em;
    line-height: 1em;
  }
  .hero .home-lead {
    padding: .1em .8em .2em;
    font-size: 1.15rem;
    font-weight: 300;
  }
}
/*# sourceMappingURL=style.css.map */